{{#each this}}
  <a class='gallery__link' href='{{largeImageURL}}'>
    <div class='gallery__item'>
      <img
        src='{{webformatURL}}'
        alt='{{tags}}'
        class='gallery__image'
        loading='lazy'
      />
      <div class='info'>
        <p class='info-item'>
          <b>Likes</b>
          <span>{{likes}}</span>
        </p>
        <p class='info-item'>
          <b>Views</b>
          <span>{{views}}</span>
        </p>
        <p class='info-item'>
          <b>Comments</b>
          <span>{{comments}}</span>
        </p>
        <p class='info-item'>
          <b>Downloads</b>
          <span>{{downloads}}</span>
        </p>
      </div>
    </div>
  </a>
{{/each}}